<div class="row">
<h1>
  Anout Me!
</h1>
<p>I’m Josip Bognar, a self-taught Front-end developer living in Osijek, Croatia.<br> 
  I love to turn an ideas into a reality and I do it with a lot of passion. My beginnings were modest with HTML and CSS but as the years passed, I learned many other web frameworks and enriched my knowledge and thus the design and functionality of your ideas.<br><br>
  I created my first webpage back in 2000 with HTML and CSS, than I started with Drupal, Joomla and Wordpress content systems. Wordpress theme development, plugins. With time, I had a need for more and started with XAMPP, PHP and mySQL. Than continued with jQuery, JavaScripts, Bootstrap, Google UI and Materializecss.<br><br>
  This all was just a small part that every front-end developer need to know, with time there was a need for more so I continued with Angular JS and Single Page Applications, Node JS and Express module to make RESTful Api's and database manipulation (mySQL). As you can see, front-end development is expanding fast so I am also trying to keep a step with it. Now I use few more things like parallax effects, angular 2/4/5, firebase for noSQL apps and much more.
  Creating SPA's require API's and while I was creating applications, Ionic framework caught my eye. Many see hybrid application development as a bad choice, but it has so many cool features which can give life to a beautiful data-driven applications.
  <br><br>Thanks for reading about me and let me know if you need my help.</p>
</div>