<div class="row">
    <div class="col-sm-12" *ngIf="showmenu == true" @gocrazy><app-navigation></app-navigation></div>
</div>
<div class="row">
    <div (click)="showmenu=!showmenu" class="menubutton"></div> 
    <div class="col-sm-3 magician"></div>
    <div class="col-sm-9 slider" *ngIf="showmenu == false" @gocrazy> 
        <div class="obloga">
           
                <div *ngFor="let item of posts | async">
                   {{ item.title }} {{item.image}}<br>
                   {{item.exerp}}<br>
                
                </div>
             

        </div>
    </div>
</div>
<div @gocrazy>
<router-outlet></router-outlet>
</div>
<div class="row" >

<div class="col-sm-12"><app-foot></app-foot></div>
</div>
