.padd {
    display:block;
    margin-top:20px;
    float:left;
    width:100%;
}
.naslov {
    display: block;
    float: left;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
    font-size: 35px;
}
.brack {
    color:coral;
    font-weight: 900;
}